a
{
font-size: 57px;
text-decoration: none;
}
body
{
    background-image: url(pic1.jpg);
}
button
{
    padding: 25px;
    text-align: center;
    background-color: transparent;
}
a
{
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    font-variant: small-caps;
    color: white;
}
.b1
{
    margin-top: 185px;
}
.b2
{
    margin-bottom: 185px;
}

