@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
  --overlay-color: rgba(34, 34, 34, 0.90);
  --menu-speed: 1.25s;
}

body, html {
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
  scroll-behavior: smooth;
  color: white
}

#bg-image {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15)
    ), url('../../res/image/culture/lex-joosen-concept-art-final.jpg');
  filter: blur(.1vw); 
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: -1;
  
  background-size: cover;
}

#page {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
  }

  
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

/* #bg-image {
height: 100%;
width: 100%;
position: absolute;
background-image: linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25)
    ), url('../../res/image/food/sushi-sushi-rolly-vassabi-sous-imbir-set-japanese-food-pal-5.jpg');
filter: blur(.09vw); 
background-repeat: no-repeat;
background-position: 0 0;
z-index: -1;
background-size: cover;
} */


header {
    background: linear-gradient(rgba(73, 73, 73, .15), rgba(0, 0, 0, 0.05));
    height: 8vh;
}

#page-title {
  font-size: 5vh;
  font-weight: bold;
  text-align: center;
}

#carte {
    padding: 1vh;
    /* background-color: rgba(0, 0, 0, 0.1); */
    /* scrollbar-width: none; */
    overflow-y: scroll;
    display: flex;
    height: 90vh;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5vh;
}

.specialite{
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.specialite-title {
  color: black;
  font-weight: bold;
  font-size: 2vw;
  text-align: center;
  background-color: rgba(255,255,255,.7);
  border: solid .05vh grey;
}

.specialite-menu {
  font-size: 2vh;
  text-align: center;
  border: solid .05vh white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(94, 94, 94, 0.5));
  backdrop-filter: blur(.3vw);

}

.specialite-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.specialite-menu li {
    padding: 1vw;
}

footer {
    font-family: 'Playfair Display', serif;
    font-size: 1vh;
    text-align: center;
    color: white;
    position: fixed;
    display: block;
    margin: 0 auto;
    width: 100%;
    bottom: 0;
  }
  
  footer ul {
    display: inline-block;
    padding: 2vh 2vh 1vh;
    border-top: 1px solid white;
  }
  
  .fa, .fab {
    padding: 2vh;
    font-size: 4vh;
    width: 5vh;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover, .fab:hover {
    opacity: 0.7;
  }