body {
    margin: 0;
}

#page {
    display: flex;
    flex-direction: column;
}

.img {
    width: 100%;
    height: 100vh;
}
#i1 {
    background-image: url("../res/image/culture/640px-JSA_AFX_Maid_Cafe_2018_118_(47549866722).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#i2 {
    background-image: url("../res/image/culture/cacdafb84959de64a73dab41263447e1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#i3 {
    background-image: url("../res/image/culture/robot-restaurant-performance.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* #i4 {
    background-color: blue;
    
}  */ 