@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
  --overlay-color: rgba(34, 34, 34, 0.90);
  --menu-speed: 1.25s;
}
  
body, html {
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: white;
  scroll-behavior: smooth;
}

#page {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* MENU STYLES */
.menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  .menu-wrap > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  /*   
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

header {
  position: fixed;
  font-size: 1.5vh;
  font-family: 'Playfair Display', serif;
  left: 0;
  top: 0;
  height: 7%;
  width: 100%;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.15));
  display: flex;
}

header > #header-menu {
    margin-left: 1vw;
    visibility: hidden;
    /* -webkit-transform: translateX(-100%); */
}

header > .slide-in {
    animation-fill-mode: both;
    animation: slide-in .8s;
    /* -webkit-animation: slide-in 0.5s; */
}

.slide-out {
    animation-fill-mode: forwards;
    visibility: visible;
    animation: slide-out 0.2s;
    /* -webkit-animation: slide-out 0.5s; */
}

@keyframes slide-in {
    0% { transform: translateX(-100%); }
    10% { transform: translateX(-54%), !important; }
    20% { transform: translateX(-48%), !important; }
    30% { transform: translateX(-42%), !important; }
    40% { transform: translateX(-36%), !important; }
    50% { transform: translateX(-30%), !important; }
    60% { transform: translateX(-24%), !important; }
    70% { transform: translateX(-18%), !important; }
    80% { transform: translateX(-12%), !important; }
    90% { transform: translateX(-06%), !important; }
    100% { transform: translateX(0%); }
}

header > #header-menu > ul {
    margin: 1vh;
    text-align: center;
    scroll-behavior: smooth;
}

header > #header-menu > ul > li {
    list-style: none;
    color: white;
    font-size: 2vh;
    padding: 1vh;
    display: inline;
}

header > #header-menu > ul > li > a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

header > #header-menu > ul > li > a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    color: rgb(153, 151, 151);
    border-bottom: solid 1px rgb(153, 151, 151);
    transition: .5s;
}

#menu-burger {
  margin: 1vh;
  color: white;
  cursor: pointer;
  width: auto;
  height: 80%;
}

#bg-image {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
    ), url('../res/image/culture/kabuki_theater.jpg');
  filter: blur(.08vw); 
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: -1;
  background-size: cover;
}

#page > h1 {
  margin-top: 9vh;
  width: 100%;
  text-align: center;
  letter-spacing: .3vw;
  font-size: 5vh;
  font-weight: 30;
}
#galery {
  border: double 1.5vh black;
  margin: 0vh 5vw 0 5vw;
  backdrop-filter: blur(.5vw);
  height: 62%;
  overflow-x: scroll;
  padding: 1vh;
  display: flex;
  flex-wrap: nowrap;
  scrollbar-width: thin;
}

#galery::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(71, 71, 71, 0.3);
}

#galery::-webkit-scrollbar {
	width: 3px;
}

#galery::-webkit-scrollbar-thumb {
  height: 1px;
	background-color: #464646;
}

#galery > .galery-item {
  margin-left: 1vh;
  padding: 1vh;
  padding-top: 0vh;
  display: flex;
  flex-direction: column;
}

#galery > .galery-item > .galery-item-title {
  display: inline;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  margin-bottom: 1.5vh;
  font-size: 2vw;
}

#galery > .galery-item > .galery-item-img {
  background-size: contain;
  border: solid rgb(32, 32, 32) 3px;
  width: 50vw;
  height: 95%;
}

footer {
  font-family: 'Playfair Display', serif;
  font-size: 1vh;
  text-align: center;
  color: white;
  position: fixed;
  display: block;
  margin: 0 auto;
  width: 100%;
  bottom: 0;
}

footer ul {
  display: inline-block;
  padding: 2vh 2vh 1vh;
  border-top: 1px solid white;
}

.fa, .fab {
  padding: 2vh;
  font-size: 4vh;
  width: 5vh;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover, .fab:hover {
  opacity: 0.7;
}


@media screen and (orientation: portrait) {
  .pageTitle {
      font-size: 5vh;
  }
  footer {
      font-size: 4vh;
  }
  footer ul {
      display: inline-block;
      padding: 1vh 1vh 0.5vh;
      border-top: 1px solid white;
  }
}