body, html {
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

#page {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('../res/image/food/image.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-color: #0F1912;
}

@media (min-width: 1920px), (min-height: 1080px) {
    #page { background-size: cover; }
}

.pageTitle {
    color: white;
    text-align: center;
    font-size: 2.5em;
}

form {
    color: white;
    width: 50%;
    padding: 10%;
    margin: 0;
    max-height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /*background-color: #0b1c1aea;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 15px -1px #0F1912; 
    box-shadow: 5px 5px 15px -1px #0F1912;*/
}

form input {
    font-size: inherit;
    color: white;
    width: 100%;
    padding: 0.7em;
    border-radius: 4px;
    /*border: 1px solid white;*/
    border: none;
    box-sizing: border-box;
    -webkit-box-shadow: 5px 5px 15px -1px #0F1912; 
    box-shadow: 5px 5px 15px -1px #0F1912;
    outline: none;
    margin: 1% 0px;
    background-color: #997C5C;
    opacity: 0.9;
}

form input::placeholder {
    color:white;
}

form input:focus {
    border: 2px solid #0F1912;
}

form label {
    margin: 1% 1em;
    padding: 10px;
}
@media screen and (orientation: portrait) {
    .pageTitle {
        font-size: 4em;
    }
    form {
        width: 70%;
        /*background: none;
        box-shadow: none;*/
    }
    form input {
        border-radius: 10px;
        font-size: 2.5em;
    }
}