:root {
    --overlay-color: rgba(34, 34, 34, 0.90);
    --menu-speed: 1.25s;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* MENU STYLES */
  .menu-wrap {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
/*   
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

body, html {
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

#page {
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url('../res/image/culture/pexels-aleksandar-pasaric-2506923_sombre.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;
    background-size: cover;
    background-color: #0F1912;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    font-size: 1.5vh;
    font-family: 'Playfair Display', serif;
    left: 0;
    top: 0;
    width: 100%;
    color: white;
    height: 10vh;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgba(73, 73, 73, .15), rgba(0, 0, 0, 0.1));
    display: flex;
}

header > #footer-menu {
    margin-left: 1vw;
    visibility: hidden;
    /* -webkit-transform: translateX(-100%); */
}

.slide-in {
    animation-fill-mode: both;
    animation: slide-in .8s;
    /* -webkit-animation: slide-in 0.5s; */
}

.slide-out {
    animation-fill-mode: forwards;
    visibility: visible;
    animation: slide-out 0.2s;
    /* -webkit-animation: slide-out 0.5s; */
}

@keyframes slide-in {
    0% { transform: translateX(-100%); }
    10% { transform: translateX(-54%), !important; }
    20% { transform: translateX(-48%), !important; }
    30% { transform: translateX(-42%), !important; }
    40% { transform: translateX(-36%), !important; }
    50% { transform: translateX(-30%), !important; }
    60% { transform: translateX(-24%), !important; }
    70% { transform: translateX(-18%), !important; }
    80% { transform: translateX(-12%), !important; }
    90% { transform: translateX(-06%), !important; }
    100% { transform: translateX(0%); }
}

header > #footer-menu > ul {
    margin: 1vh;
    text-align: center;
}

header > #footer-menu > ul > li {
    list-style: none;
    color: white;
    font-size: 2vh;
    padding: 1vh;
    display: inline;
}

header > #footer-menu > ul > li > a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

header > #footer-menu > ul > li > a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    color: rgb(153, 151, 151);
    border-bottom: solid 1px rgb(153, 151, 151);
    transition: .5s;
}

#menu-burger {
    margin: 1vh;
    color: white;
    cursor: pointer;
    width: auto;
    height: 80%;
}

.main-content {
    
    padding: 5vw;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

nav {
    padding: 2vh;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(1px);
    border-radius: 100px;
    display: flex;
    width: 100%;
}

.title-page-link{ 
    color: rgb(255, 255, 255);
    height: auto;
    font-size: 3.5vw;
    /* font-weight: bold; */
    letter-spacing: 1px;
    text-shadow: 8px 8px 8px 8px #000;
    vertical-align: middle;
    text-align: center;
    display: flex;
    cursor: pointer;
}

.title-page-link a:link{
    text-decoration: None;
    color: inherit;
}

.title-page-link a:active{
    text-decoration: None;
    color: inherit;
}

.title-page-link a:visited{
    text-decoration: None;
    color: inherit;
}

.title-page-link a:hover{
    color: rgb(153, 151, 151);
    border-bottom: solid 1px rgb(153, 151, 151);
    transition: .5s;
}

@media (min-width: 1920px), (min-height: 1080px) {
    #page { background-size: cover; }
}


footer {

  font-size: 1.5vh;
  font-family: 'Playfair Display', serif;
  left: 0;
  top: 0;
  width: 100%;
  color: white;
  height: 10vh;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  /* background: linear-gradient(rgba(73, 73, 73, .15), rgba(0, 0, 0, 0.1)); */
  display: flex;
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(73, 73, 73, .15));
}

footer > ul {
  margin: 1vh;
  text-align: center;
}

footer > ul > li {
  list-style: none;
  color: white;
  font-size: 2vh;
  padding: 1vh;
  display: inline;
}

footer > ul > li > a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

footer > ul > li > a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  color: rgb(153, 151, 151);
  border-bottom: solid 1px rgb(153, 151, 151);
  transition: .5s;
}